@font-face {
    font-family: "Inter";
    src: local("Inter-Regular"),
        url("../fonts/Inter-Regular.woff2") format("woff2"),
        url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: local("Inter-Medium"),
        url("../fonts/Inter-Medium.woff2") format("woff2"),
        url("../fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: local("Inter-Medium"),
        url("../fonts/Inter-SemiBold.woff2") format("woff2"),
        url("../fonts/Inter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

button,
a {
    cursor: pointer;
}

.body {
    font-family: "Inter";
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    box-shadow: 0px 4px 6px 0px #00000026;
}

.header-top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo {
    line-height: 0;
}

.menu {
    justify-self: end;
}

.menu__list {
    display: none;
}

.menu__btn {
    padding: 4.5px 5px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    line-height: 0;
}

.header__phone {
    display: none;
}

.header-bottom {
    display: none;
}

.services {
    padding-top: 36px;
    padding-bottom: 36px;
}

.services__head {
    margin: 0;
    margin-bottom: 24px;
    color: #3E3E3E;
    font-weight: 500;
    font-size: 16px;
}

.services__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    gap: 12px;
    list-style: none;
}

.services-item {
    position: relative;
    box-sizing: border-box;
    min-height: 194px;
    padding: 16px 35px 16px 16px;
    background: linear-gradient(89.88deg, rgba(18, 18, 18, 0.6) 0.09%, rgba(0, 0, 0, 0) 99.89%), url("../img/background.png"), #D9D9D9;
    border-radius: 12px;
    overflow: hidden;
}

.services-item__bg {
    display: none;
}
.services-item__head {
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
}

.services-item__desc {
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 56px;
}

.services-item__btn {
    position: absolute;
    bottom: 16px;
    left: 16px;
    margin: 0;
    padding: 12px;
    min-width: 148px;
    border-radius: 8px;
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

.services-item-btn__span--display-large,
.services-item-btn__span--display-small {
    display: none;
}

.services-item__btn:hover {
    background: #FFFFFF26;
}


.services-item__img {
    position: absolute;
    bottom: 0;
    right: 8px;
    width: 149px;
    height: 68px;
}

.services-item:nth-child(1)>.services-item__img {
    background-image: url("../img/dlykaskada.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.services-item:nth-child(2)>.services-item__img {
    background-image: url("../img/kaskad-dry.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 40px;
    background-position-y: 7px;
}

.services-item:nth-child(3)>.services-item__img {
    background-image: url("../img/mockup.png");
    background-repeat: no-repeat;
    background-size: 59px 133px;
    background-position-x: 73px;
    background-position-y: 2px;
}

.services-item:nth-child(4)>.services-item__img {
    background-image: url("../img/mercedes.png");
    background-repeat: no-repeat;
    background-size: 175px 60px;
    background-position-x: -2px;
    background-position-y: 7px;
}

@media (min-width: 768px) {
    .container {
        margin: 0 auto;
        width: 680px;
        padding-left: 0;
        padding-right: 0;
    }

    .header-top__container {
        justify-content: end;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logo {
        flex: 100%;
    }

    .header__phone {
        display: block;
        min-width: 199px;
        background-color: #0B457F;
        border-radius: 12px;
        color: #fbfbfb;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        padding: 8px;
        border: none;
        letter-spacing: 0.4px;

    }

    .header__phone:hover {
        background-color: #006CD8;
    }

    .menu {
        order: 100;
        margin-left: 23px;
    }

    .services {
        padding-top: 56px;
        padding-bottom: 56px;
    }

    .services__head {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 29px;
        width: 603px;
    }

    .services-item {
        position: relative;
        min-height: 233px;
        padding: 32px 310px 32px 32px;
    }


    .services-item__head {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .services-item__desc {
        margin-bottom: 77px;
    }

    .services-item__btn {
        bottom: 32px;
        left: 32px;
        padding: 14px;
        min-width: 148px;
    }


    .services-item-btn__span--display-small {
        display: block;
    }
    .services-item:nth-child(3) {
        .services-item-btn__span--display-extrasmall {
            display: none;
        }
    }
 
    .services-item__img {
        width: 287px;
        height: 123px;
    }

    .services-item:nth-child(2)>.services-item__img {
        background-position-x: 73px;
    }

    .services-item:nth-child(3)>.services-item__img {
        background-size: 105px 222px;
        background-position-x: 142px;
        background-position-y: 11px;
    }

    .services-item:nth-child(4)>.services-item__img {
        background-size: 314px 106px;
        background-position-x: 5px;
        background-position-y: 15px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 852px;
    }

    .header-bottom {
        display: block;
        border-top: 1px solid #CECECE;
    }

    .header-bottom__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .header-span {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.5px;
        color: #666;
    }

    .header-span__swg {
        margin-right: 8px;
    }


    .header__address {
        text-wrap: nowrap;
        margin-right: 32px;
    }

    .header__route {
        text-wrap: nowrap;
    }

    .header__time {
        flex: 100%;
        justify-content: end;
    }



    .services__list {
        grid-template-columns: 420px 420px;
    }

    .services-item {
        padding: 32px 50px 32px 32px;
    }

    .services-item__desc {
        margin-bottom: 77px;
    }

    .services-item__img {
        width: 217px;
        height: 93px;
    }

    .services-item:nth-child(2)>.services-item__img {
        background-position-x: 73px;
    }

    .services-item:nth-child(3)>.services-item__img {
        background-size: 79px 172px;
        background-position-x: 112px;
        background-position-y: 7px;
    }

    .services-item:nth-child(4)>.services-item__img {
        background-size: 291px 94px;
        background-position-x: -21px;
        background-position-y: 2px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1300px;
    }

    .header-top__container {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .menu__btn {
        display: none;
    }

    .logo {
        flex: 0;
    }

    .header__phone {
        min-width: 204px;
    }

    .menu {
        order: 0;
        flex: 50%;
        margin: 0;
        margin-right: 56px;
    }

    .menu__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: end;
    }

    .menu__item {
        margin-right: 32px;
    }

    .menu__item:last-child {
        margin-right: 0;
    }

    .menu__link {
        text-decoration: none;
        color: #666;
        font-size: 13px;
        font-weight: 400;
        line-height: 19.5px;
    }


    .services__head {
        width: 100%;
        margin-bottom: 33px;
    }

    .services__list {
        grid-template-columns: repeat(3, 424px);
        grid-template-rows: auto;
        margin-left: 2px;
        margin-right: 2px;
    }

    .services-item:nth-child(1) {
        grid-row: 1/3;
        min-height: 500px;
    }

    .services-item:nth-child(2),
    .services-item:nth-child(3) {
        min-height: 250px;
    }

    .services-item:nth-child(4) {
        grid-column: 3/4;
        grid-row: 1/3;
        min-height: 500px;
    }

    .services-item__desc {
        margin-bottom: 32px;
    }

    .services-item__btn {
        position: relative;
        left: 0;
        bottom: 0;
        padding-left: 28px;
        padding-right: 28px;
        min-width: auto;
    }

    .services-item-btn__span--display-extrasmall {
        display: none;
    }
    .services-item-btn__span--display-large {
        display: block;
    }

    .services-item:nth-child(2)>.services-item__btn,
    .services-item:nth-child(3)>.services-item__btn {
        min-width: 180px;
    }

    .services-item__img {
        position: absolute;
        bottom: 13px;
        right: 12px;
        z-index: 100;
    }

    .services-item:nth-child(1)>.services-item__img {
        width: 400px;
        height: 192px;
        background-size: contain;
    }

    .services-item:nth-child(2)>.services-item__img {
        bottom: -12px;
        right: -52px;
        width: 231px;
        height: 130px;
        background-size: cover;
        background-position-x: 3px;
        background-position-y: 7px;
    }

    .services-item:nth-child(3)>.services-item__img {
        right: 9px;
        bottom: -121px;
        width: 125px;
        height: 253px;
        background-size: contain;
        background-position-x: 0px;
        background-position-y: 0px;
    }

    .services-item:nth-child(4)>.services-item__img {
        width: 347px;
        height: 165px;
        background-size: cover;
        background-position-x: -64px;
    }
    .services-item__bg {
        display: block;
        position: absolute;
    }
    .services-item:nth-child(2)>.services-item__bg {
        top: 55px;
        right: 57px;
    }
    .services-item:nth-child(4)>.services-item__bg {
        bottom: 0;
        left: 0;
    }
}